.container {
  border-radius: 10px;
  position: relative;
}

.button {
  position: sticky;
  bottom: 15px;
  text-align: right;
  margin-right: 15px;
}

.text {
  position: absolute;
  top: 0%;
  left: 3%;
  font-size: 3.5vw;
  font-weight:bolder;
}


article p {
  text-align: center;
  font-size: 2vw;
}


img {
  margin:0; 
  display:block;
}

body {
  background-color: rgba(0, 157, 255, 0.133);
  margin: 0px;
}

h3 {
  font-size: 3vw;
  text-align: center;
}

footer {
  margin-top: -44px;
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  text-align: center;
  padding: 15px 0;
  text-decoration: none;
}

footer a {
  text-decoration: none;
  color: white;
}

.tsf {
  color: brown;
  font-size: 4.5vw;
  margin-bottom: -10px;
}



